.p-allProjects{
  z-index: 1;
  position: relative;
}
.p-leftProject{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1.5;
    z-index: 1;
    
}
.p-projectBlock{
    border: 5px solid var(--orange);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-sizing: border-box;
   padding: 10px;
   padding-bottom: 20px;
   border-radius: 20px;
   box-shadow: var(--boxShadow);
   
   
}

.p-projectBlock > p{
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
}
.p-projectBlock:hover{
   scale: 1.05;
}
.p-projectBlock >img{
    width: 200px;
    height: 130px;
    border-radius: 10px;
}

.p-rightProject{
 flex: 1;
 margin: 2rem;
}

.p-rightProject > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 1rem;
  }
  .p-rightProject > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }

.p-demoButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.p-demoButtons > button:hover > img{
     background-color: var(--orange);
     border-radius: 50%;
}
