.p-allProjects{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.p-leftProject{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1.5;
    z-index: 1;
    
}
.p-projectBlock{
    border: 5px solid var(--orange);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   box-sizing: border-box;
   padding: 10px;
   padding-bottom: 20px;
   border-radius: 20px;
   box-shadow: var(--boxShadow);  
}

.p-projectBlock > p{
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
}
.p-projectBlock:hover{
   scale: 1.05;
}
.p-projectBlock >img{
    width: 200px;
    height: 130px;
    border-radius: 10px;
}

.p-rightProject{
 flex: 1;
 margin: 2rem;
}

.p-rightProject > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
    margin-right: 1rem;
  }
  .p-rightProject > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }

.p-demoButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.p-demoButtons > button:hover > img{
     background-color: var(--orange);
     border-radius: 50%;
}
.p-blurrPink{
  top: -5rem;
  left: 45rem;
  width: 29rem;
  height: 11rem
}

@media screen and (max-width: 480px) {

  .p-allProjects{
    margin-top: 2rem;
    padding: 10px;
    width: 95vw;
  }
  .p-blurrPink{
    top: 10rem;
    left: 0rem;
    width: 10rem;
    height: 11rem
  }
  .p-rightProject{
    flex: 1;
    margin: 2rem;
   }
   
   .p-rightProject > :nth-child(1) {
       color: var(--black);
       font-weight: bold;
       font-size: 2rem;
       margin-right: 1rem;
     }
     .p-rightProject > :nth-child(2) {
       color: var(--orange);
       font-weight: bold;
       font-size: 2rem;
     }

     .p-leftProject{
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(1, 0.6fr);
      z-index: 1;
      width: 80%;
      box-sizing: border-box;
      
      
  }
  
.p-projectBlock{
  border: 5px solid var(--orange);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 box-sizing: border-box;
 padding: 10px;
 padding-bottom: 20px;
 border-radius: 20px;
 box-shadow: var(--boxShadow);  
}
.p-projectBlock:nth-child(odd){
  margin-left: 10px;
}
.p-projectBlock:nth-child(even){
  margin-right: 10px;
}

.p-projectBlock > p{
  font-weight: 100;
  font-size: 14px;
  color: var(--gray);
}
.p-projectBlock:hover{
 scale: 1.05;
}
.p-projectBlock >img{
  width: 250px;
  height: 130px;
  border-radius: 10px;
}
  
  
}
