
.introdiction{
    display: flex;
  min-height: 77vh;
  margin-top: 6rem;
  padding: 2rem;
}

.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
  }
  .i-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .i-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .i-name > span:last-child {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
  }

  .i-left>.i-button {
    width: 6rem;
    height: 2rem;
    flex: 0;
  }

  .i-icons {
    flex: 0;
    display: flex;
    height: 80px;
    margin-bottom: 2rem;
  }
  .i-icons > a {
    transform: scale(0.2);
    width: 60px;
    height: 100px;
  }

  .i-right{
     flex: 1;
     position: relative;
     transform: scale(0.8);
     left: -3rem;
  }
  .i-right> img{
    position: absolute;
  }
  .flotingDiv{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    align-items: center;
    width: 40%;
    height: 20%;
    box-sizing: border-box;
    z-index: 10;
  }
  .flotingDiv > img{
   width: 60px;

  }
  .blur {
    position: absolute;
  filter: blur(72px);
}
.i-blurrBlue{
  top: 17rem;
  left: -9rem;
  width: 21rem
}

@media screen and (max-width: 750px) {
  .introdiction{
 display: block;
 margin-top: 1rem;
 width: 95vw;
 min-height: 230px;
 box-sizing: content-box;
 padding: 10px;
}
.i-left{
  display: block;
  width: 100vw;
  height: 250px;
  box-sizing: border-box;
}
.i-left > .i-button{
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-name > :nth-child(1) {
  color: var(--black);
  font-weight: bold;
  font-size: 1.5rem;
}
.i-name > :nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 1.5rem;
}
.i-name > span:last-child {
  font-weight: 100;
  font-size: 12px;
  color: var(--black);
  margin-top: 10px;
}
.i-icons {
  margin-top: 0rem;
  display: block;
  height: 80px;
  margin-bottom: 2rem;
  padding-top: 1rem;
  position: absolute;
  top: 10rem;
  left: 7rem
}
.i-icons > a {
  width: 60px;
  height: 100px;
}
.i-icons > a img{
  width: 30px;
  height: 30px;
  margin: 5px;
}
.i-right>img{
  display: none;
}
.flotingDiv{
  top: -17rem;
  left: 80%

}
.flotingDiv > span{
   margin-left: 1rem;
}
.i-blurrBlue{
  top: -10rem;
  left: 15rem;
  width: 15rem;

 
}
.introPara{
  height: 80px;
  display: block;
  width: 90vw;
  margin-bottom: 1rem;

  padding: 3px;
}
  
}