.footer {
    display: flex;
    align-items: center;
    background-color: var(--orange);
    justify-content: center;
    height: 10rem;
   
  }
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    color: white;
  }
  .f-icon {
    display: flex;
    gap: 1rem;
    width: 100px;
    justify-content: space-around;
  }

  @media screen and (max-width: 750px) {
   .footer{
     margin-top: 1rem;
    align-items: center;
   }

  }
  