.footer {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -7rem;
    background-color: var(--orange);
    width: 100%;
    height: 200px;
    justify-content: center;
   
  }
  .f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    color: white;
  }
  .f-icon {
    display: flex;
    gap: 1rem;
    width: 100px;
    justify-content: space-around;
  }

  @media screen and (max-width: 750px) {
   .footer{
    position: static;
    margin-top: -17rem;
    height: 300px;
    align-items: center;
   }

  }
  